{% extends 'base.html' %}

{% block title %}
Catphone inc
{% endblock %}
{% block content %}

<a class="btn btn-primary" href="/catphone/productsList">Каталог котофонов (абсолютный)</a> <br>
<a class="btn btn-primary" href="productsList/">Каталог котофонов (относительный)</a> <br>
<a class="btn btn-primary" href="catphone/productsList">Каталог котофонов (не правильный)</a> <br>
<a class="btn btn-primary" href="/catphone/productsList/?id-2&name=iphone">Каталог котофонов (с параметрами)</a> <br>


    <h1>Текст для проверки статики</h1>
{% endblock %}